/* BARRA DE NAVEGACIÓN */
body header nav {
    background-color: rgb(235, 206, 232);
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    height: 4rem;

}

li {
    margin: 1rem;
    display: inline;
    float: left;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(177, 10, 155);
}


#productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}

.tarjeta {
    margin: 10px;
    border: solid pink 2px;
    padding: 20px;
}

.item {
    padding: 20px;


}

.item img {
    height: 60px;
}

.item-description {

    size: 10px;
}

button {
    background-color: pink;
    margin-top: 10px;
}